page-personality-test-result {
    .chart {
        padding: 50px 50px;
    }
    .card-ios p {
        margin-bottom: 20px;
    }
    p.high {
        color: #000;
    }
    p.average {
        color: #666;
    }
    p.low {
        color: #ccc;
    }
}
